*.foreground:	#e3dfdb
*.background:	#1d2329
*.cursor:	#e3dfdb
*.color0:	#1d2329
*.color8:	#9e9c99
*.color1:	#B97787
*.color9:	#B97787
*.color2:	#75888A
*.color10:	#75888A
*.color3:	#A4A6A0	
*.color11:	#A4A6A0
*.color4:	#D3A8AD
*.color12:	#D3A8AD
*.color5:	#D0C8B7
*.color13:	#D0C8B7
*.color6:	#DCBDC0
*.color14:	#DCBDC0
*.color7:	#e3dfdb
*.color15:	#e3dfdb

Xcursor.size: 32
