/* Confirm Dialog */

@import "~/.cache/wal/colors-rofi.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
	font:				 	"Terminus 9";
}

window {
    width:      			210px;
    padding:    			25px;
    border:					2px;
    border-radius:          12px;
    border-color:           @color4;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@color4;
}
